* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  display: block;
  color: inherit;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.imgWrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
body {
  font-size: 14px;
  background-color: black;
  font-family: 'Shippori Mincho B1', serif;
}
.header{
    color: wheat;
    padding: 50px;
}
.header ul{
    display: flex;
    justify-content: space-evenly;
    font-size: 2rem;
}
main {
  display: flex;
  flex-flow: column;
}
.onClick {
  color: white;
}
.span {
  color: red;
}

.isHidden {
  display: none;
}

.postsList {
  width: 75%;
  height: 750px;
  overflow: auto;
  margin: 0 auto;

  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;

  padding: 100px 0;
  border-top: 2px solid red;
  border-bottom: 2px solid red;
}

.item {
  width: 600px;
  height: 600px;

  margin: 10px;

  position: relative;
  border: 10px solid wheat;
}
/*  OBSERVE */
.observe {
  border: 10px solid green;
}
/*  OBSERVE */

.cardInfo {
  border: 1px solid red;
  background-color: rgba(245, 4, 4, 0.534);

  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;

  opacity: 0;
}
.cardInfo h3 {
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  font-family: 'Redressed', cursive;
  letter-spacing: 0.8em;
}
.text {
  margin: 30px 0;
  padding: 0 30px;
  text-align: center;
  font-size: 1.2rem;

  font-weight: bold;
}
.link {
  padding: 10px 20px;
  background-color: white;
  box-shadow: 0 0 10px white;

  text-transform: uppercase;
  font-weight: bold;
}
.item:hover .cardInfo {
  opacity: 1;
  transition: opacity 0.8s ease-out;
}
/* FORM */
.form {
  display: flex;

  margin: 0 auto;
  padding: 50px;

  border-top: 2px solid red;
}

.form input {
  padding: 20px;
  color: red;

  background-color: transparent;

  width: min-content;
  font-size: 3rem;

  border: none;
  border-bottom: 3px solid wheat;
}

.form input::placeholder {
  color: wheat;
  font-size: 2.5rem;
  font-family: 'Redressed', cursive;
  letter-spacing: 0.4em;
}

.form input:hover::placeholder,
.form input:focus::placeholder {
  color: red;
}
